/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
body {
  background-color: #f8f8fa;
}

/*--------------------- header section -----------------------*/
header {
  background-color: #4617fe;
  display: flex;
  height: 70vh;
  padding: 0 90px;
}
nav {
  order: 2;
  margin-left: auto;
  height: 12vh;
  display: flex;
  gap: 30px;
  align-items: center;
  color: #FFFFFF;
  font-size: 13px;
}
nav .nav-item {
  cursor: pointer;
}
nav .nav-item-active {
  background-color: #FFFFFF;
  color: #4617fe;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
header div .logo {
  order: 1;
  margin-top: 50px;

}
header .header-text {
  position: absolute;
  margin-top: 180px;
  color: #FFFFFF; 
}
header .header-text h2 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-bottom: 12px; 
}
header div:last-child {
  position: absolute;
  right: 0;
  width: 640px;
  height: 500px;
  top: 90px;
}
header div .header-image {
  width: 100%;
}

/*----------------------- companies --------------------*/

.companies {
  display: flex;
  width: 700px;
  justify-content: space-between;
  margin-left: 80px;
  margin-top: 30px;
}
.companies .company-items {
  text-decoration: none;
  color: #000000;
  font-size: 1.6rem;
  font-family: "Righteous";
}

/*------------------- api section --------------------*/
.api {
  margin-top: 90px;
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
}
.api .api-heading {
  font-size: 2.8rem;
  font-weight: 900;
}
.api .cards {
  display: flex;
  margin-top: 40px;
  align-items: center;
  gap: 20px;
  position: relative; 
  justify-content: center;
}
.api .cards .card-active {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 40px 20px;
  width: 190px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.04);
  color: #4617fe;
}
.api .cards .card {
  padding: 40px 20px;
}
.api .cards [class^="card"] h3 {
  margin-top: 14px;
}
.api .cards [class^="card"] p {
  color: #000000;
  margin-top: 10px;
  font-size: 14px; 
 }

 .card:last-child::after {
  content: ">";
  display: flex;
  background-color: #4617fe;
  color: #FFFFFF;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  right: 20px;
  top: 80px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
 }



 /*----------------------- Blog section -----------------------*/

 .blog-heading {
  margin-top: 84px;
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
 }

 .blog-heading h1 {
  font-size: 2.8rem;
 }
 .blog-cards {
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 24px;
 }
 .blog-card {
  background-color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  box-shadow: 0 0 10px 6px rgba(0,0,0,.04);
  height: 288px;
 }
 .blog-image {
  display: inline-block;
 }
 .blog-image img {
  display: inline-block;
 }
 .blog-content {
  display: inline-block;
  vertical-align: top;
  padding: 30px 90px 0px 50px;
 }
 .blog-content h6 {
    color: #4617fe;
    font-weight: 900;
 }
 .blog-content h3 {
  padding-top: 15px;
  font-weight: 900;
  margin-bottom: 14px;
 }
 .blog-content small {
  font-weight: bold;
}
.blog-bottom {
  position: absolute;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  left: 320px;
  bottom: -20px;
}

 div.blog-author {
  position: absolute;
  bottom: -20px;
  left: 390px;
  bottom: 12px;
  font-size: 12px;
  font-weight: 900;
 }

 
 /*------------------- Faq section -------------------*/
 .faq-section {
  margin-top: 124px;
  padding: 0 90px;
  background-color: #e9edff;
  display: flex;
  padding-top: 40px;
  position: relative;
  height: 350px;
 }
 .faq-section .faq-content h2 {
  font-size: 2.8rem;

 }
 .faq-section .faq-content h4 {
  font-size: 12px;
  padding-top: 15px;
 }
 .faq-section .faq-content h2 ~ h4:not(:first-of-type) {
  font-size: 1rem;
  padding-top: 34px;
 }
 .faq-section .faq-image {
  align-self: flex-end;
  display: flex;
  position: absolute;
  right: 0;
  height: 390px;
 }
 .faq-section .faq-content button {
    background-color: #5a31fc;
    border: none;
    color: #FFFFFF;
    padding: 8px 20px;
    margin-top: 20px;
    border-radius: 4px;
 }


/*-------------------- Download section --------------------*/

.download-section {
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
  height: 300px;
  background-color: #FFFFFF;
  align-items: center;
}
.download-section .download-content span {
  font-weight: 100;
}
.download-section .download-email {
  position: absolute;
  right: 0px;
}
.download-section .download-email form input {
  outline: none;
  border: none;
  background-color: #e9edff;
  padding: 15px 170px 15px 40px;
  border-radius: 50px;
  width: 360px;
}
.download-section .download-email form input::placeholder {
  font-weight: 600;
  color: #505050;
  font-size: 12px;
}
.download-section .download-email form button {
  position: relative;
  right: 140px;
  background-color: #4617fe;
  color: #FFFFFF;
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
}


/*------------------- footer section ----------------------*/

.footer-section {
  background-color: #481afe;
  display: flex;
  justify-content: space-between;
  padding: 20px 90px;
  align-items: center;
  height: 200px;
}

.footer-section .footer-left .list {
    list-style-type: none;
    display: flex;
    gap: 39px;
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 13px;
    padding-top: 20px;
    margin-left: -40px;
}
.footer-section .footer-left .list .list-items ~ .list-items:not(:last-of-type)::after {
  content: "";
  width: 1px;
  height: 50%;
  margin-left: 20px;
  display: inline-block;
  background-color: #FFFFFF;
}

.footer-right:first-child {
  text-align: right;
  margin-bottom: 20px;
}
.footer-right .footer-logos:not(:last-child) {
  margin-right: 15px;

}
.footer-right .logos-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 13px;
}
.footer-right .logos-list .list-items:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 50%;
  margin-left: 20px;
  display: inline-block;
  background-color: #FFFFFF;
}